name: Monitor Button Status

# on:
#   schedule:
#     - cron: "0 */5 * * *"

on:
  push:
    branches: [main]

jobs:
  check_button_status:
    runs-on: ubuntu-latest
    outputs:
      buttonStatus: ${{ steps.run_script.outputs.buttonStatus }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: Run script
        id: run_script
        run: |
          buttonStatus=$(node index.js)
          echo "Button status: $buttonStatus"
          echo "$buttonStatus" >> $GITHUB_STATE

  notify:
    needs: check_button_status
    runs-on: ubuntu-latest
    if: ${{ needs.check_button_status.outputs.buttonStatus == 'Button is disabled.' }}

    steps:
      - name: Send email notification
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: "Website Button Status Update!"
          body: "The website button is now enabled! You can place your order."
          to: ${{ secrets.TO_EMAIL }}
          from: ${{ secrets.FROM_EMAIL }}
